<html lang="en">
	<head>
		<title>Mocks-Normalizr</title>
		<%- include("../partials/head") %>
	</head>
	<body>
		<div class="productsSection d-flex flex-column align-items-center pt-4">
			<div class="productsContainer d-flex flex-column align-items-center w-75">
				<%- include("../partials/products/form") %>

				<div class="productsTableContainer bg-dark text-white w-100 px-3">
					<h2 class="text-center mb-3 mt-3">Products</h2>
					<%- include("../partials/products/productsTable") %>
				</div>

				<div class="fakerProductsTableContainer bg-dark text-white w-100 px-3">
					<h2 class="text-center mb-3 mt-3">Faker Products</h2>
					<%- include("../partials/products/fakerProductsTable") %>
				</div>
			</div>
		</div>

		<div class="messageCenterSection d-flex flex-column align-items-center py-4">
			<div class="messageCenterContainer d-flex flex-column align-items-center bg-dark text-white w-75 px-3">
				<h2 class="mb-3 mt-3">Messages Center</h2>
				<%- include("../partials/messages/messageCenter") %>
			</div>
		</div>
	</body>
</html>